@font-face {
  font-family: 'Thintel'; 
  src: url('asset/earthbound.ttf') format('truetype');
}

body {
  display: flex;               
  justify-content: center;  
  align-items: center;        
  height: 100vh;              
  margin: 0;                
  background-color: black;
}

.board-main-container {
  position: relative;     
  transform: scale(4);       
  transform-origin: center;   
  image-rendering: pixelated;
  width: 134px;
  height: 115px;
}

.board-main-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#board-main-canva-fall-animation {
  width: calc(100% / 7);
  height: auto;
  transform: translate(calc(100% * 3), -32%);
  overflow-x: hidden;
  position: absolute;
}

#board-main-back {
  width: 100%;
  height: 100%;
}

#board-main-canva-mouse-follow {
  height: auto;
  transform: translateY(calc(-200%));
}

.info-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  transform-origin: center;
  image-rendering: pixelated;
  width: 161px;
  height: 103px;
  pointer-events: auto; 
}

#info-main-board {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#info-main-button {
 
  white-space: nowrap;
  height: 12%;          
  image-rendering: pixelated;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-image: url('asset/info_button.png') 3 fill stretch;
  border-width: 3.5px;          
  border-style: solid;         
  background: none;            
  text-align: center;           
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Thintel', sans-serif;
  font-size: 100%;             
  text-spacing-trim: 0px;     
  min-height: 14px;
  
}

#info-main-button:active {
  border-image: url('asset/info_button_pressed.png') 3 fill stretch;
}

#info-main-button:hover {
  filter: brightness(90%);
}

.info-main-text-container {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  pointer-events: none; 
  z-index: 10; 
}

.info-main-title {
  font-family: 'Thintel', sans-serif;
  font-size: 50%;
  color: white;
  text-rendering: geometricPrecision;
  text-shadow:
    1px 1px 0 #000;  
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

.info-main-button-text {
  transform: translate(1px, 0%) ;
}

.info-main-button-text:active {
  transform: translate(1px, 1px) ; /
}

.turn-center-wrapper {
  position: absolute;    
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(4);
  image-rendering: pixelated;
  pointer-events: none;   
  z-index: 100;          
}

.turn-main-container {
  position: absolute;
  image-rendering: pixelated;
  transform: translateY(125px);
}

#turn-info-coin {
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation-fill-mode: forwards;
    border-image: url('asset/info_board_hole.png') 3 fill stretch; /* use 3px border */
    border-width: 3.5px;
    border-style: solid; 
    transform: translate(38.5px, 0px);
}

#turn-info-text {
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation-fill-mode: forwards;
    transform: translate(-28.5px, -2.5px);
    clip-path: inset(0 0 0 100%);
}

@keyframes turn-info-coin {
  to {
    transform: translate(6.5px, 0px);
  }
  from {
    transform: translate(38.5px, 0px);
  }
}



@keyframes turn-info-text {
  to {
    transform: translate(6.5px, -2.5px);
    clip-path: inset(0 0 0 -5%);
  }
  from {
    transform: translate(-28.5px, -2.5px);
    clip-path: inset(0 0 0 100%);
  }
}

#board-mouse-overlay {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 100%;
  height: 150%;
  z-index: 999; 
  pointer-events: auto;
  background-color: rgba(0, 255, 0, 0);
}


